.kafka-ui {
  text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body-container {
  display: flex;
  flex: 1;
}

.kafka-ui-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.kafka-ui-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.kafka-ui-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

.toast-success {

}

.toast-error {

}

.spinner-overlay {
  position: fixed; /* фиксированное положение относительно экрана */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* чтобы спиннер был выше всех других элементов */
}

.kafka-ui button {
  text-transform: none;
  color: #6b6b6b;
}

.kafka-ui button:hover {
  background-color: #f9f9f9;
}

.kafka-ui input:focus {
  border: solid 1px #73f573;
}


